<%= render 'shared/navbar_en' %>
<<<<<<< HEAD
<br/>
<h1 class="container">About us...</h1> <!--The view>page-->

<p class="container">
=======

<div class="container">
	<br>
<h1>About us...</h1> <!--The view>page-->

<p>
>>>>>>> d3d5cab (Just before the Portafolio Pinterested app begins)
	<%= @about_me %> since 2017, <%= @answer %> years ago
</p>