<<<<<<< HEAD
<h1 class="container">Acerca de nosotros...</h1> 

<p class="container">
	<%= @about_me %>
</p>
<p class="container">Contactos al +593 99 822 1378
=======
<%= render 'shared/navbar_es' %>

<div class="container">
<br>
	<h1>Acerca de nosotros...</h1> 

<p>
	<%= @about_me %>
</p>
Contactos al +593 99 822 1378
<p>
>>>>>>> d3d5cab (Just before the Portafolio Pinterested app begins)
</p>