<%= render 'shared/navbar_en' %>
<<<<<<< HEAD

<div class="container">
<h1>Estrutecnia</h1>
<p>Structuring technically </p>
=======
<br>
<div class="container">
	<h1>Estrutecnia</h1>
<p>Structuring technically</p>
>>>>>>> d3d5cab (Just before the Portafolio Pinterested app begins)
