<%= render 'shared/navbar_es' %>
<div class="container">
<<<<<<< HEAD
	
=======
	<br>
>>>>>>> d3d5cab (Just before the Portafolio Pinterested app begins)
<h1>Estrutecnia</h1>
<p>Estructuras y Geotecnia una empresa internacional</p>
